<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Join Community Group</h1>
        <div class="buttons">
            <button class="button button-clear button-icon ion-close-round" ng-click="closeSignupModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="signUp" ng-submit="signupForGroup()">
            <div class="list">
                <label class="item item-input">
                    <!--using 200 as the longest name because the Guinness book record holder is 214 in length-->
                    <input type="text" name="name" ng-required="true" placeholder="Full Name" maxlength="200" ng-model="groupSignupData.name"> 
                </label>
                <label class="item item-input">
                    <!-- using 15 to include country code-->
                    <input type="tel" name="num" ng-required="true" ng-minlength="10" ng-maxlength="15" maxlength="15" placeholder="Phone Number" ng-model="groupSignupData.phone" >
                </label>

                <label class="item item-input">
                    <!-- using 254 because that is the highest length allowed by email providers-->
                    <input type="email" name="email"ng-required="true" placeholder="Email Address" maxlength="254" ng-model="groupSignupData.email">
                </label>
                <label class="item no-border-bottom">
                    <button class="button button-block button-energized" type="submit" ng-disabled="signUp.$invalid" >
                        Join!
                    </button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>